<div class="container">
    <mat-toolbar class="barra">
        <span>Creando un inmobiliario</span>
        <div class="example-spacer"> </div>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form>

            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Calificación</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let item of calificaciones" [value]="item.value">{{ item.viewValue }}</mat-option>
                </mat-select>  
            </mat-form-field>
            
            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>Cantidad de titulares</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" #input autocomplete="off">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="selectedEstado">
                    <mat-option *ngFor="let item of estado" [value]="item.value">{{ item.viewValue }}</mat-option> 
                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedEstado=='enValores'">
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Número de expediente</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Código de acta</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div *ngIf="selectedEstado=='enActoAdmin'">
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Número</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Fecha</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>Idcou</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>Idmae</mat-label>
                <input matInput>
            </mat-form-field>

        </form>
        <button mat-raised-button (click)="goBack()">Volver</button>
    </mat-card>
</div>