<div class="container">
    <mat-toolbar class="barra">
        <span>Inmobiliario</span>
        <div class="example-spacer"> </div>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (submit)="guardar()">

            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Calificación</mat-label>
                <mat-select [(value)]="selected" formControlName="tipo">
                    <mat-option *ngFor="let item of calificaciones">{{ item.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>Cantidad de titulares</mat-label>
                <input matInput formControlName="titulares">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" #input autocomplete="off">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="selectedEstado" formControlName="estado">
                    <mat-option *ngFor="let item of estado">{{ item.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedEstado=='Asignación de valores'">
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Número de expediente</mat-label>
                    <input matInput formControlName="expediente">
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Código de acta</mat-label>
                    <input matInput formControlName="acta">
                </mat-form-field>
            </div>
            <div *ngIf="selectedEstado=='Acto administrativo'">
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numadmin">
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="fecha">
                </mat-form-field>
            </div>
            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>IdCou</mat-label>
                <input matInput formControlName="idCou">
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" appearance="fill" #input autocomplete="off">
                <mat-label>Idmae</mat-label>
                <input matInput formControlName="idMae">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit">Guardar</button>
        </form>
    
        <button style="margin-top: 10px;" mat-raised-button (click)="goBack()">Volver</button>
    </mat-card>
</div>